<div id="<%= dom_id work_experience %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= work_experience.company %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Role:</strong>
    <%= work_experience.role %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Logo:</strong>
    <%= work_experience.logo %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Started on:</strong>
    <%= work_experience.started_on %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ended on:</strong>
    <%= work_experience.ended_on %>
  </div>
</div>
